keyboard==0.13.5
pyobjc-core==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-ExceptionHandling==10.1
pyobjc-framework-Quartz==10.1
Quartz
numpy
pandas
opencv-python
torch
torchvision
ultralytics
pyyaml
